[submodule "BeagleBone-Black"]
	path = BeagleBone-Black
	url = https://github.com/CircuitCo/BeagleBone-Black.git
[submodule "linux-kernel-labs"]
	path = linux-kernel-labs
	url = git@github.com:dagmcr/linux-kernel-labs.git
[submodule "yocto-labs"]
	path = yocto-labs
	url = git@github.com:dagmcr/yocto-labs.git
