    uartfe2: feserial@48024000 {
        compatible = "free-electrons,serial";
        /* Tell the OMAP hardware power management that the block
           must be enabled, otherwise it's switched off
           Caution: starting counting at 1, not 0 */
        ti,hwmods = "uart3";
        clock-frequency = <48000000>;
        reg = <0x48024000 0x2000>;
        interrupts = <74>;
        status = "okay";
        pinctrl-names = "default";
        pinctrl-0 = <&uart2_pins>;
    };

    uartfe4: feserial@481a8000 {
        compatible = "free-electrons,serial";
        ti,hwmods = "uart5";
        clock-frequency = <48000000>;
        reg = <0x481a8000 0x2000>;
        interrupts = <45>;
        status = "okay";
        pinctrl-names = "default";
        pinctrl-0 = <&uart4_pins>;
    };
