&uart2 {
	compatible = "free-electrons,serial";
        status = "okay";
        pinctrl-names = "default";
        pinctrl-0 = <&uart2_pins>;
};

&uart4 {
	compatible = "free-electrons,serial";
        status = "okay";
        pinctrl-names = "default";
        pinctrl-0 = <&uart4_pins>;
};
