on: [push, pull_request]
jobs:
  embedded-linux:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/build-material-action
        with:
          args: >
            full-embedded-linux-slides.pdf
            full-embedded-linux-stm32mp1-labs.pdf
            full-embedded-linux-qemu-labs.pdf
            full-embedded-linux-beagleplay-labs.pdf
            full-embedded-linux-bbb-labs.pdf
            full-embedded-linux-qemu-labs.pdf
            embedded-linux-agenda.pdf
            embedded-linux-fr-agenda.pdf
            embedded-linux-online-agenda.pdf
            embedded-linux-online-fr-agenda.pdf
            embedded-linux-qemu-labs.tar.xz
            embedded-linux-bbb-labs.tar.xz
            embedded-linux-stm32mp1-labs.tar.xz
            embedded-linux-stm32mp2-labs.tar.xz
            embedded-linux-beagleplay-labs.tar.xz
  linux-kernel:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/build-material-action
        with:
          args: >
            full-linux-kernel-slides.pdf
            full-linux-kernel-bbb-labs.pdf
            full-linux-kernel-beagleplay-labs.pdf
            full-linux-kernel-imx93-frdm-labs.pdf
            linux-kernel-agenda.pdf
            linux-kernel-fr-agenda.pdf
            linux-kernel-online-agenda.pdf
            linux-kernel-online-fr-agenda.pdf
            linux-kernel-bbb-labs.tar.xz
            linux-kernel-beagleplay-labs.tar.xz
            linux-kernel-imx93-frdm-labs.tar.xz
  buildroot:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/build-material-action
        with:
          args: >
            full-buildroot-slides.pdf
            full-buildroot-bbb-labs.pdf
            full-buildroot-stm32mp1-labs.pdf
            buildroot-agenda.pdf
            buildroot-fr-agenda.pdf
            buildroot-online-agenda.pdf
            buildroot-online-fr-agenda.pdf
            buildroot-bbb-labs.tar.xz
            buildroot-stm32mp1-labs.tar.xz
  yocto:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/build-material-action
        with:
          args: >
            full-yocto-slides.pdf
            full-yocto-bbb-labs.pdf
            full-yocto-beagleplay-labs.pdf
            full-yocto-stm32mp1-labs.pdf
            yocto-agenda.pdf
            yocto-fr-agenda.pdf
            yocto-online-agenda.pdf
            yocto-online-fr-agenda.pdf
            yocto-bbb-labs.tar.xz
            yocto-stm32mp1-labs.tar.xz
            yocto-beagleplay-labs.tar.xz
  boot-time:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/build-material-action
        with:
          args: >
            full-boot-time-slides.pdf
            full-boot-time-bbb-labs.pdf
            boot-time-agenda.pdf
            boot-time-fr-agenda.pdf
            boot-time-online-agenda.pdf
            boot-time-online-fr-agenda.pdf
            boot-time-bbb-labs.tar.xz
  graphics:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/build-material-action
        with:
          args: >
            full-graphics-slides.pdf
            graphics-agenda.pdf
            graphics-fr-agenda.pdf
            graphics-online-agenda.pdf
            graphics-online-fr-agenda.pdf
  autotools:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/build-material-action
        with:
          args: >
            full-autotools-slides.pdf
            full-autotools-native-labs.pdf
            autotools-agenda.pdf
            autotools-native-labs.tar.xz
  preempt-rt:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/build-material-action
        with:
          args: >
            full-preempt-rt-slides.pdf
            full-preempt-rt-stm32mp1-labs.pdf
            preempt-rt-online-agenda.pdf
            preempt-rt-online-fr-agenda.pdf
            preempt-rt-stm32mp1-labs.tar.xz
  debugging:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/build-material-action
        with:
          args: >
            debugging-agenda.pdf
            debugging-fr-agenda.pdf
            debugging-online-agenda.pdf
            debugging-online-fr-agenda.pdf
            full-debugging-slides.pdf
            full-debugging-stm32mp1-labs.pdf
            full-debugging-beagleplay-labs.pdf
            debugging-stm32mp1-labs.tar.xz
            debugging-beagleplay-labs.tar.xz
  audio:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/build-material-action
        with:
          args: >
            audio-agenda.pdf
            audio-fr-agenda.pdf
            audio-online-agenda.pdf
            audio-online-fr-agenda.pdf
            full-audio-slides.pdf
  networking:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/build-material-action
        with:
          args: >
            networking-agenda.pdf
            networking-fr-agenda.pdf
            networking-online-agenda.pdf
            networking-online-fr-agenda.pdf
            full-networking-slides.pdf
            full-networking-espressobin-labs.pdf
            networking-espressobin-labs.tar.xz
