on: [push, pull_request]
jobs:
  embedded-linux:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/build-material-action
        with:
          args: >
            full-embedded-linux-slides.pdf
            full-embedded-linux-qemu-slides.pdf
            full-embedded-linux-labs.pdf
            full-embedded-linux-qemu-labs.pdf
            embedded-linux-agenda.pdf
            embedded-linux-fr-agenda.pdf
            embedded-linux-online-agenda.pdf
            embedded-linux-online-fr-agenda.pdf
            embedded-linux-qemu-agenda.pdf
            embedded-linux-labs.tar.xz
            embedded-linux-qemu-labs.tar.xz
  linux-kernel:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/build-material-action
        with:
          args: >
            full-linux-kernel-slides.pdf
            full-linux-kernel-labs.pdf
            linux-kernel-agenda.pdf
            linux-kernel-fr-agenda.pdf
            linux-kernel-online-agenda.pdf
            linux-kernel-online-fr-agenda.pdf
            linux-kernel-labs.tar.xz
  buildroot:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/build-material-action
        with:
          args: >
            full-buildroot-slides.pdf
            full-buildroot-labs.pdf
            full-buildroot-stm32-slides.pdf
            full-buildroot-stm32-labs.pdf
            buildroot-agenda.pdf
            buildroot-fr-agenda.pdf
            buildroot-online-agenda.pdf
            buildroot-online-fr-agenda.pdf
            buildroot-labs.tar.xz
            buildroot-stm32-labs.tar.xz
  yocto:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/build-material-action
        with:
          args: >
            full-yocto-slides.pdf
            full-yocto-stm32-slides.pdf
            full-yocto-labs.pdf
            full-yocto-stm32-labs.pdf
            yocto-agenda.pdf
            yocto-fr-agenda.pdf
            yocto-online-agenda.pdf
            yocto-online-fr-agenda.pdf
            yocto-stm32-agenda.pdf
            yocto-stm32-fr-agenda.pdf
            yocto-stm32-online-agenda.pdf
            yocto-stm32-online-fr-agenda.pdf
            yocto-labs.tar.xz
            yocto-stm32-labs.tar.xz
  boot-time:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/build-material-action
        with:
          args: >
            full-boot-time-slides.pdf
            full-boot-time-labs.pdf
            boot-time-agenda.pdf
            boot-time-fr-agenda.pdf
            boot-time-online-agenda.pdf
            boot-time-online-fr-agenda.pdf
            boot-time-labs.tar.xz
  graphics:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/build-material-action
        with:
          args: >
            full-graphics-slides.pdf
            graphics-agenda.pdf
            graphics-fr-agenda.pdf
            graphics-online-agenda.pdf
            graphics-online-fr-agenda.pdf
  autotools:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/build-material-action
        with:
          args: >
            full-autotools-slides.pdf
            full-autotools-labs.pdf
            autotools-agenda.pdf
            autotools-labs.tar.xz
  preempt-rt:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/build-material-action
        with:
          args: >
            full-preempt-rt-slides.pdf
            full-preempt-rt-labs.pdf
            preempt-rt-online-agenda.pdf
            preempt-rt-online-fr-agenda.pdf
  debugging:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/build-material-action
        with:
          args: >
            debugging-agenda.pdf
            debugging-fr-agenda.pdf
            debugging-online-agenda.pdf
            debugging-online-fr-agenda.pdf
            full-debugging-slides.pdf
            full-debugging-labs.pdf
            debugging-labs.tar.xz
  audio:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/build-material-action
        with:
          args: >
            audio-agenda.pdf
            audio-fr-agenda.pdf
            audio-online-agenda.pdf
            audio-online-fr-agenda.pdf
            full-audio-slides.pdf

